.ql-align-left {
  text-align: left;
}

.ql-align-center {
  text-align: center;
}

.ql-align-right {
  text-align: right;
}

.ql-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
